@model UserDetails.ViewModels.ListViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title></title>
</head>

<body>
    <h1>List of users</h1>

    <a asp-controller="Details" asp-action="Details">Add new user</a>
    <br />
    <input type="text" id="searchField" onkeyup="searchFunction()" placeholder="Search...">

    <table class="table" id="usersTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserList[0].Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserList[0].FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserList[0].SurName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserList[0].UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserList[0].Email)
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.UserList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SurName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <a asp-controller="Details" asp-action="Edit" asp-route-user="@item.Id">Edit</a>
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-user="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <script>
        function searchFunction() {
            var input = document.getElementById("searchField");
            var filter = input.value.toUpperCase();
            var table = document.getElementById("usersTable");
            var trs = table.tBodies[0].getElementsByTagName("tr");

            for (var i = 0; i < trs.length; i++) {
                var tds = trs[i].getElementsByTagName("td");
                trs[i].style.display = "none";

                for (var i2 = 0; i2 < tds.length; i2++) {
                    if (tds[i2].innerHTML.toUpperCase().indexOf(filter) > -1) {
                        trs[i].style.display = "";
                        continue;
                    }
                }
            }
        }
    </script>
</body>
</html>